#header {

width: 800px;
height: 50px;
background-color: Cornsilk;
}
#section1 {
width: 800px;
height: 350px;
background-color: LightCyan;
float: left;
}
#section2 {
width: 800px;
height: 600px;
float: left;
}
.cell {
height: 50px;
width: 50px;
background-color: #FBCE33;

}

#grid:after {
content: "";
display: table;
clear: both;
}
.column {
float: left;
}

/*live cell style */
.live {
background-color: #FBCE33;
border-style: solid;
border-width: 1px;
border-color: seashell;
height: 18px;
width: 18px;
}

/* dead cell style*/
.dead {
background-color: #002E62;
border-style: solid;
border-width: 1px;
border-color: seashell;
}
